[submodule "themes/ananke"]
	path = themes/ananke
	url = git@github.com:budparr/gohugo-theme-ananke.git
[submodule "themes/cocoa"]
	path = themes/cocoa
	url = git@github.com:lukegriffith/cocoa-hugo-theme.git
[submodule "public"]
	path = public
	url = git@github.com:lukemgriffith/lukemgriffith.github.io
